<div class="view view--half_vertical">
  <div class="layout">
    <div class="richtext richtext--center text--center gap">
      <span class="value value--xxxlarge" data-value-fit="true" data-value-fit-max-height="340">
        <%= quote[:content] %>
      </span>
      <span class="label label--underline" data-pixel-perfect="true"><%= quote[:author] %></span>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/motivational_quote--render.svg" />
    <span class="title">Motivational Quote</span>
  </div>
</div>
