<div class="title_bar">
  <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/reddit--render.svg" />
  <span class="title">Reddit</span>
  <span class="instance"><%= sort_by.titleize %> posts</span>
</div>
